---
- type: replace
  path: /instance_groups/name=istio-control/jobs/name=copilot/properties/frontend_tls_keypairs?
  value:
  - cert_chain: "((envoy_wildcard_ca.certificate))"
    private_key: "((envoy_wildcard_ca.private_key))"

- type: replace
  path: /variables?/-
  value:
    name: envoy_wildcard_ca
    type: certificate
    options:
      is_ca: true
      common_name: "*.istio.((system_domain))"
      alternative_names:
      - "*.istio.((system_domain))"
